# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vs/
.vscode/
.idea/
*.suo
*.user

# .NET build output
[Bb]in/
[Oo]bj/
*.nupkg
*.snupkg
*.cache

# Unity
Library/
Temp/
Logs/
UserSettings/
*.csproj
*.sln
*.log
